:root {
    --main-Font-Color: #f0ebeb;
}

body {
    color: var(--main-Font-Color);
    margin: 2%;
    background-image: linear-gradient(#737cb0, #6671af, #737cb0);
}
nav{
    --tb-Margin: 10px;
    margin-top: var(--tb-Margin);
    margin-bottom: var(--tb-Margin);
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav > a {
    text-decoration: none;
    color: var(--main-Font-Color);
    text-wrap: nowrap;
    --lr-padding: 15px;
    --ud-padding: 5px;
    padding: var(--ud-padding) var(--lr-padding) var(--ud-padding) var(--lr-padding);
    padding-left: var(--lr-padding);
    padding-right: var(--lr-padding);
}
nav > a:hover {
    text-decoration: underline;
}

.wip {
    --lr-margin: 30%;
    padding: 1%;
    margin-left: var(--lr-margin);
    margin-right: var(--lr-margin);
    text-align: center;
    border-radius: 100px;
    background-color: rgba(100, 0, 0, 0.2);
}